
@media (min-width:992px) {
    .offcanvas{
        flex-direction: row;

    }
}



@media (max-width:991px) {
    .btn-nav{
        margin-top: 10px;
        width: 200px;
    }
    .serach-navbar {
        margin-top: 10px;
        width: 100%;
    
    }
    .res-search{
        flex-wrap: wrap;
        margin: 9px;
        margin-left: 1.5rem!important;
    
    }
    .lang{
        margin-top: 10px;
        border: none !important;
        background: transparent !important;
        color:  #1fb9b3 !important ;

    }
    .lang a{
        color:  #1fb9b3 !important ;

    }
    nav .offcanvas-start .icon-search {
        top: 38%;
    }
    nav .nav-item{
        border: 1px solid #1fb9b3;
        background: #1fb9b3;
        margin: 9px;
    }
    nav .nav-item a {
        color: white;
    }
    .form-nav{
        /* width: 100%; */
    }
    .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
        color: white;
    }
    nav .dropdown-menu[data-bs-popper] {
        top: 80%;
        right: -12px;
        margin-top: var(--bs-dropdown-spacer);
    }
    .circle-img img{
        width: 100%;
       
    }
    .sec-one .text{
        margin: 50px 0;
        text-align: center;
    }
    .text-network {
        margin: 10px 0 !important;
        width: 100% !important;
    }
    .circle-img {
        width: 350px;
        height: 350px;
    }
    .circle-img img {
        height: 346px;
    }
    .offcanvas.offcanvas-start{
        overflow: auto;
       
    }
  
    


}
.offcanvas.offcanvas-start {
    top: 74px;
    right: 0;
    width: 74%;
    border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(100%);
    z-index: 999999999999999999;
}
.offcanvas-backdrop.show{
    opacity: 0;
}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav {
        align-items: center;
    }
}